/* Reset  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    margin: 0 auto;
}
:root {
    --bg-color-aside: black;
    --bg-color-header: rgb(15, 26, 26);
    --bg-color-main: rgb(20, 39, 39);
}
.debug {
    /* min-width: 100px;
    min-height: 100px; */
    border: 2px dashed magenta;
}
.content > body {
    height: calc(100vh - 150px);
}
.flex {
    display: flex;
}
aside {
    background-color: var(--bg-color-aside);
    color: gray;
    width: 200px;
    padding: 0 10px;
}
aside ul a li, aside h3, aside div, aside ul li, aside img {
    padding: 10px 0 ;
}
.small {
    display: none;
}
.big {
    width: 60%;
}
aside a {
    text-decoration: none;
    color: gray;
    display: block;
}
.down a {
    display: inline-block;
}
aside ul li {
    list-style: none;
    display: inline-block;
}
aside span,  h3{
    color: white;
}
aside div a, .fa-heart, .fa-folder {
    color: gray;
}
header {
    background-color:var(--bg-color-header);
    position: fixed;
    top: 0;
    right: 0;
    width: calc(100% - 200px);
    padding: 10px 10px;
}
header .flex {
    justify-content: flex-end;
}
header button {
    border-radius: 20px;
    padding: 10px 30px;
    background-color: var(--bg-color-header);
    color: white;
    border-color: white;
}
.col img {
    width: 80%;
}
main {
    background-color:var(--bg-color-main);
    color: white;
    width: calc(100% - 100px);
    overflow: hidden;
    padding: 0 10px;

}
.col-main {
    overflow-y: auto;
    height: 100%;
    padding-top: 70px;
}
nav ul  {
    justify-content:center;
}
nav ul li {
    list-style: none;
    padding: 10px 10px;
}
nav ul a {
    color: gray;
    text-decoration: none;
    text-transform: uppercase;
}
.col-main h2 {
    margin: 10px 0 ;
}
.col-main p {
    color: gray;
    margin-bottom: 15px;
}
main .row .col {
    width: calc((100% / 6) - 10px);
    text-align: center;
    margin: 0 5px;
}
footer .row {
    justify-content: space-between;
}
footer {
    height: 100px;
    background-color: rgb(42, 42, 42);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    margin-top: 50px;
}
footer .row {
    height: 100%;
}
.img  {
    width: 20%;
}
footer .row .col:first-child {
    width: calc(60% / 2);
}
footer .row .col:nth-child(2){
    width: 40%;
    text-align: center;
}
footer .row .col:nth-child(3) {
       width: calc(60% / 2);
       text-align: center;
}
footer .row > * {
   align-items: center;
   justify-content: center;
}
.time, .vol {
    background-color: gray;
    height: 5px;
    border-radius: 2px;
    display: inline-block;
    margin: 0 15px;
}
.time > div, .vol > div {
    width: 40%;
    height: 100%;
    background-color: white;
    border-radius: 2px;
}
 .fa-heart {
    margin-left: 30px;
    margin-right: 10px;
}
footer .row .col:nth-child(2) > * , .fa-bars,  .fa-display, .fa-volume-high {
    padding: 10px 10px;
}
.time {
    width: 60%;
}
.flex > .vol {
    width: 40%;
}


